* {
    margin: 0;
    padding: 0;
}

/* navigator */
.container {
    background: #20232a;
    color: blanchedalmond;
    max-width: 1440px;
    height: 105px;
}

body {
    background-color: rgb(224, 216, 233);
}

.str__item {
    color: #6c36b1;
}
